<div>
  <div>
    <h3>Hello, {{admin.login}}</h3>
  </div>
  <button (click)="addUser()">ADD +</button>
  <button (click)="signOut()">Sign Out</button>
  <table>
    <tr>
      <th>Login</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th></th>
    </tr>
    <tr *ngFor="let user of filteredUsers">
      <td>{{user.login}}</td>
      <td>{{user.name}}</td>
      <td>{{user.dateOfBirth}}</td>
      <td><button (click)="viewCurrentUser(user)">VIEW</button></td>
    </tr>
  </table>

  <templating [headerTemplate]="header" [bodyTemplate]="body" [data]="countries">

  </templating>

  <button (click)="createDocument()">Create Document</button>

  <div *ngIf="pdf">
    <button (click)="toFirstPage()"><<</button>
    <button (click)="prevPage()"><</button>
    <span>{{this.page}} / {{pdf.numPages}}</span>
    <button (click)="nextPage()">></button>
    <button (click)="toLastPage()">>></button>
  </div>
  <pdf-viewer *ngIf="pdfData && isDataValid"
              [src]="pdfData"
              [render-text]="true"
              [page]="page"
              [zoom]="0.75"
              [show-all]="false"
              (after-load-complete)="afterLoadComplete($event)"
              (error)="onError($event)"
              style="display: block;"
  ></pdf-viewer>

  <ng-template #header>
    <p>
      Header Works!
    </p>
  </ng-template>

  <ng-template #body let-country let-count="count">
    <p>
      Body Works!
    </p>
    <div>
      {{country.name}}: {{country.desc}} (Total: {{count}})
    </div>
  </ng-template>
</div>
