*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  width: 1400px;
  margin: 32px auto;
}

.working-space {
  width: 100%;
  min-height: 500px;
  padding: 16px;
  background: #f8f8f8;
  box-sizing: border-box;

}

.header {
  padding: 32px;
  background: #f8f8f8;
  margin: 32px 0;
  width: 100%;
  box-sizing: border-box;
}

.header__title {
  margin: 16px 0;
  font-family: sans-serif;
  color: #333333;
  display: inline-block;
}

.align-right {
  float: right;
  margin: 16px;
}

.button--back {
  background: white;
  border: 1px solid dimgray;
  min-width: 100px;
  color: #333333;
  height: 30px;
  font-size: 15pt;
}

.button--back:hover {
  background: #ce0000;
  color: #f8f8f8;
}

.menu__content {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 350px;
  height: 100%;
  transform: translateX(-100%); /* Скрываем меню */
  overflow-y: auto;
  transition: 0.2s;
  background: #333333;
  color: #f8f8f8;

  z-index: 100;
}
.menu-opened .menu__content {
  transform: none; /* Показываем меню */
}

.menu-open {
  float: left;
  cursor: pointer;
  font-size: 20px;
  margin-left: 100px;
  font-weight: bold;
}

.menu-close {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  line-height: 1;
  font-size: 30pt;
}

.menu__list {
  margin: 75px 0 0 0;
  padding: 0;
}

.menu__list li {
  list-style:none;
  font-size: 20pt;
  display: block;
  height: 50px;
  padding: 0 0 0 32px;
  line-height: 50px;
}

.menu__list li:hover {
  background: rgba(255,255,255,0.2);
}

.blocks {
  width: 100%;
  font-size:0;
  position: relative;
  transition: 0.1s;
  cursor: default;
  border: 1px solid transparent;
}

.blocks:hover {
  background: rgba(63, 121, 255, 0.2);
  border: 1px solid rgba(0, 0, 255, 0.3);
}

.blocks__wrapper {
  padding: 8px;
  box-sizing: border-box;
  display: inline-block;
}

.blocks__block {
  background: white;
  box-shadow: #333333 0 0 2px;
  min-height: 200px;
  box-sizing: border-box;
}

.blocks__delete {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 20px;
  line-height: 1;
  font-size: 30pt;
}
